@page
@model ChangePasswordModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<style>
    header{
        justify-content:start;
    }
    .logo{
        margin-left:80px;
    }
    nav{
        display:none;
    }
</style>
    <div class="needs-validation container p-5">
        <form id="change-password-form" method="post" class="row g-3 justify-content-center my-2" style="margin-left: auto;margin-right: auto;">
            <h2 class="col-8 my-3 text-center" style="color: cadetblue;">Change Password</h2>
            <div class="col-8">
                <label class="form-label" asp-for="Input.OldPassword">Current password</label>
                <input class="form-control" asp-for="Input.OldPassword" autocomplete="current-password" aria-required="true" type="password" data-val="true" data-val-required="The Current password field is required." id="Input_OldPassword" name="Input.OldPassword">
                <span class="text-danger field-validation-valid" asp-validation-for="Input.OldPassword" data-valmsg-replace="true"></span>
            </div>
            <div class="col-8">
                <label class="form-label" asp-for="Input.NewPassword">New password</label>
                <input class="form-control" asp-for="Input.NewPassword" autocomplete="new-password" aria-required="true" type="password" data-val="true" data-val-length="The New password must be at least 6 and at max 100 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The New password field is required." id="Input_NewPassword" maxlength="100" name="Input.NewPassword">
                <span asp-validation-for="Input.NewPassword" class="text-danger field-validation-valid" data-valmsg-for="Input.NewPassword" data-valmsg-replace="true"></span>
            </div>
            <div class="col-8">
                <label class="form-label" asp-for="Input.ConfirmPassword">Confirm new password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" type="password" data-val="true" data-val-equalto="The new password and confirmation password do not match." data-val-equalto-other="*.NewPassword" id="Input_ConfirmPassword" name="Input.ConfirmPassword">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger field-validation-valid" data-valmsg-for="Input.ConfirmPassword" data-valmsg-replace="true"></span>
            </div>
            <button  type="submit" class="contact my-3 col-5">Update password</button>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FDRTdtga4tLsXAK3hoJUmJvuJ4d1wW_EDgIva6aJtgYzuYORBULCb7H13d2RMBTCV4Kng6l12cUvRDcAxjpPYtXUPgY7gMSFfMTKE42OjwNMauMkgrSefHLxaKPtzEdzisCIdPdB3YkPHlH192AzZhUnmxzB2AZSfZTVs6rQUkGeeiQTpTXb3NpxzZjMOtZAA">
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }

<script src="~/js/main.js"></script>
<script src="~/js/index.js"></script>
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/all.min.js"></script>